What are data structures, and why are they important?

-->Data structures in python are listed below:


*   List
*   tuple
*   Set
*   Dictionaries
*   Array
*   stack and queue

 Data structures play a pivotal role in computer science and programming, as they are essential for storing,
organizing, and manipulating data efficiently.

 Python, a versatile and popular programming language, provides a wide array of data structures to
accommodate various needs.

Data Handling: Programming often involves working with data, which can be numbers, text, or more
complex information. Data structures are like specialized containers that help us manage this data
efficiently

Organization: Just as you use different shelves, drawers, and containers at home to organize various
items, in programming, you use different data structures to organize different types of data.

Efficiency: The choice of data structure can significantly impact how quickly you can access, manipulate,
and process your data. Picking the right data structure is crucial for writing efficient code

Flexibility: Different data structures serve different purposes. Some are great for storing lots of data, while
others are optimized for quick searches or data retrieval.

Built-in Tools: Python provides a rich set of built-in data structures that make it easier for programmers to
handle common data management tasks without having to build everything from scratch

Real-World Analogy: You can think of data structures as tools in your toolbox. For example, if you want to
organize your books, you might use a bookshelf (analogous to a list). If you want to store unique items,
like a collection of rare coins, you'd use a display case (analogous to a set)a
k Custom Data Structures: In addition to built-in data structures, Python allows you to create custom data
structures to suit your specific needs. This is akin to crafting your own unique container for a particular
purpose.

Explain the difference between mutable and immutable data types with examples

==>Mutable: Can be changed after creation. Example: Lists ([1, 2, 3]).

Immutable: Cannot be changed after creation. Example: Strings ("hello").

What are the main differences between lists and tuples in Python

-->Lists: Mutable, can be changed. Example: [1, 2, 3].

Tuples: Immutable, cannot be changed. Example: (1, 2, 3).

Describe how dictionaries store data
Dictionaries store data.

-->as key-value pairs. Example: {"name": "Alice", "age": 25}.

Why might you use a set instead of a list in Python?

-->Sets are used to store unique elements and perform fast membership tests. Example: {1, 2, 3}.

What is a string in Python, and how is it different from a list?

-->A string is a sequence of characters. Unlike lists, strings are immutable. Example: "hello" vs. ['h', 'e', 'l', 'l', 'o'].

How do tuples ensure data integrity in Python?

-->Tuples are immutable, so their contents cannot be changed, ensuring data integrity.

What is a hash table, and how does it relate to dictionaries in Python?

-->A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables.

Can lists contain different data types in Python?
-->Yes, lists can contain different data types. Example: [1, "hello", 3.14].

Explain why strings are immutable in Python.

-->Strings are immutable to ensure data integrity and allow for safe sharing and caching.

What advantages do dictionaries offer over lists for certain tasks?

-->Dictionaries offer fast lookups, insertions, and deletions using keys, making them efficient for tasks requiring key-value pairs.

How do sets handle duplicate values in Python?
-->Sets automatically remove duplicate values. Example: {1, 2, 2, 3} becomes {1, 2, 3}.

Describe a scenario where using a tuple would be preferable over a list.

-->Use a tuple when you need an immutable sequence of elements, such as coordinates (x, y).

How does the “in” keyword work differently for lists and dictionaries?

Lists: Checks if an element is in the list. Example: 3 in [1, 2, 3] returns True.

Dictionaries: Checks if a key is in the dictionary. Example: "name" in {"name": "Alice"} returns True.

Can you modify the elements of a tuple? Explain why or why not

-->No, you cannot modify the elements of a tuple because tuples are immutable.

What is a nested dictionary, and give an example of its use case?

-->A nested dictionary is a dictionary within a dictionary. Example: {"person": {"name": "Alice", "age": 25}}.

Describe the time complexity of accessing elements in a dictionary.

-->Accessing elements in a dictionary has an average time complexity of O(1) due to the use of hash tables.

In what situations are lists preferred over dictionaries?

-->Lists are preferred when you need an ordered collection of elements or when the order of elements matters.

Why are dictionaries considered unordered, and how does that affect data retrieval?

-->Dictionaries are considered unordered because they do not maintain the order of elements. This means you cannot rely on the order of key-value pairs when retrieving data.

Explain the difference between a list and a dictionary in terms of data retrieval?

-->List: Retrieve elements by index. Example: my_list[0].

Dictionary: Retrieve elements by key. Example: my_dict["name"].

 Write a code to create a string with your name and print it

In [ ]:
str="Mahesh"
print(str)

Mahesh

Write a code to find the length of the string "Hello World"

In [ ]:
str="Hello world"
len(str)

11

Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
str="Python Programmind"
x=slice(0,3)
print(str[x])

Pyt

Write a code to convert the string "hello" to uppercase

In [ ]:
str="hello"
str.upper()

'HELLO'

Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
str="I Like Orange"
str.replace("Orange","Apple")

'I Like Apple'

Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
num=[1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
num=[1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
alpha=["a","b","c","d"]
alpha[1]

'b'

 Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
num=[10,20,30,40,50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

 Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
num=(10,20,30)
print(num)

(10, 20, 30)

Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
fruit=('apple','banana','cherry')
fruit[0]

'apple'

 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple=(1,2,3,2,4,2)
count=my_tuple.count(2)
print(count)

3

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animal=('dog','cat','rabbit')
index=animal.index('cat')
print(index)

1

Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
fruit=('apple','banana','orange')
if 'banana' in fruit:
  print("Yes")
else:
  print("No")

Yes

Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
element={1,2,3,4,5}
print(element)

{1, 2, 3, 4, 5}

Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
element={1,2,3,4,5}
element.add(6)
element

{1, 2, 3, 4, 5, 6}

Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
elements=10,20,30
#connverting them into tuple
tuple_elements=(10,20,30)
print(tuple_elements)

(10, 20, 30)