1. Discuss string slicing and provide examples.

->Python allows you to extract a subsset of character from a given string.

In [2]:
name = "Mahesh"
name[0]

'M'

In [3]:
name[-1]

'h'

In [4]:
string1 = "I am learning new skill"
string1[0:4] #4 is exclusive.

'I am'

In [7]:
string1[5:13]

'learning'

In [9]:
string1[5:]

'learning new skill'

In [16]:
string2="they were playing outside"

In [17]:
string2[-2]

'd'

In [19]:
string2[0:5:2]#syntax>> [start:end:step]

'te '

In [20]:
string2[::2]

'te eepaigotie'

2. Explain the key features of lists in Python.

->A list is one of the most versatile and commonly used data structures in Python. It is an ordered collection
of elements that can be of any data type, such as integers, strings, or other lists.n
k Lists are mutable, which means you can change their contents after creation.n
k You can access elements by their index, and you can perform various operations like adding, removing, or
sorting elements.

In [22]:
# Creating a list with diifernt types of data types.
emp = ["Mahesh", 210000, 20,]
name = emp[0]
salary = emp[1]
age = emp[2]
print("Name:", name)
print("salary:", salary)
print("Age:", age)

Name: Mahesh
salary: 210000
Age: 20

3. Describe how to access, modify, and delete elements in a list with examples.



*   By using index we can access list
*   .apped= used to append object to the
end of list

*   .remove=is used to delete element in a list

In [ ]:
#list inside list.
a=[[1,2,3],[3,4,5],[6,7,8]]
#      |        |       |
#      0         1       2  --->index
a[1]

[3, 4, 5]

In [23]:
#adding and deleting element to the list.
a=[1,2,3,"mango","carrot",True,False]
a.append("orange" )
a.remove("mango" )
a

[1, 2, 3, 'carrot', True, False, 'orange']

4. Compare and contrast tuples and lists with examples.

->Tuples vs Lists in Python
Tuples and lists are two fundamental data structures in Python. While they share some similarities, they have distinct differences.
*Similarities:*
1. Both can store multiple values.
2. Both are ordered collections.
3. Both support indexing and slicing.
*Differences:*
*1. Immutability*
- Tuples are *immutable* (cannot be changed).
- Lists are *mutable* (can be changed).
```
*2. Syntax
- Tuples use parentheses `()` or no parentheses at   all.
- Lists use square brackets `[]`
*3. Performance
- Tuples are faster and more memory-efficient.
- Lists are slower and more memory-intensive.

In [24]:
#list is muttable
shopping_list=["sugar","milk","peanut","toothpaste"]
shopping_list[2]="biscuits"
shopping_list

['sugar', 'milk', 'biscuits', 'toothpaste']

In [25]:
#tuple=>immutable.>>tupple is also store heterogenous data.
c=(1,2,3,4.5,"mango","carrot",True,False)
c

(1, 2, 3, 4.5, 'mango', 'carrot', True, False)

In [26]:
c[1]=6#immutable.

TypeError: 'tuple' object does not support item assignment

5. Describe the key features of sets and provide examples of their use.

->Sets are unordered collections of unique elements. They are useful when you need to work with distinct items
and perform set operations like union, intersection, and difference.£
 Sets are mutable, so you can add and remove elements, but the elements themselves must be immutable.

In [27]:
#>>use case of sets
grocery_list={"sugar","soap","toothpaste","toothpaste","sugar"}
grocery_list

{'soap', 'sugar', 'toothpaste'}

6. Discuss the use cases of tuples and sets in Python programming.

In [59]:
user_logins = {'user1', 'user2', 'user3'}
user_logins.add('user4')
user_logins.add('user2')
print(f"Unique User Logins: {user_logins}")
if 'user3' in user_logins:
    print("User3 has logged in.")

Unique User Logins: {'user1', 'user4', 'user3', 'user2'}
User3 has logged in.

7. Describe how to add, modify, and delete items in a dictionary with examples.

In [37]:
#Representation of Dictionary.
phonebook={"mom":123,"brother":345,"sister":567}
phonebook

{'mom': 123, 'brother': 345, 'sister': 567}

In [38]:
# adding items in a dictionary.
phonebook["brother"]=454
phonebook

{'mom': 123, 'brother': 454, 'sister': 567}

In [39]:
#deleting items in a dictionary.
phonebook.pop("sister")
phonebook

{'mom': 123, 'brother': 454}

In [40]:
#modify items in a dictionary.
phonebook["friend"] = 145
phonebook

{'mom': 123, 'brother': 454, 'friend': 145}

 8.Discuss the importance of dictionary keys being immutable and provide examples.

 ->• Immutable keys (like strings and tuples) work perfectly in dictionaries.

• Mutable keys (like lists) will raise an error because they can't be used as dictionary keys.
This keeps the dictionary reliable and efficient!

In [51]:
my_dict = {}
my_dict['key1'] = 'value1'  # String is immutable
my_dict[(1, 2)] = 'value2'   # Tuple is immutable
# This works because both keys are immutable
print(my_dict)

{'key1': 'value1', (1, 2): 'value2'}